@charset "utf-8";
/* 头部 */
#header{
	/* background-color: pink; */
	width: 1200px;
	height: 72px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 42px;
	margin-bottom: 42px;
}

#header img{
	margin-left: 50px;
	margin-right: 33px;
	vertical-align: middle;
}

#header .line{
	border: 2px solid gray;
	background-color: #676767;
	height: 68px;
	width: 0px;
	display: inline-block;/* 由于div独占一行，因此为了让其与图片同在一行，需要将其设置为行内块元素 */
	vertical-align: middle;
	margin-right: 22px;
}

#header .wel_login{
	font-size: 36px;
	color: #676767;
	vertical-align: middle;
}

#middle{
	/* background-color: yellow; */
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 144px;
	border-left: 7px;
	border-right: 7px;
	border: 9px solid #f0f0f0;
}

#middle form{
	/* background-color: yellow; */
	width: 385px;
	margin-left: 110px;
	display: inline-block;
	vertical-align: top;
}

#middle form h1{
	text-align: center;
	margin: 87px 0px 20px;
	font-size: 26px;
	color: #333;
}

#middle form input{
	width: 381px;
	height: 49px;
	font-size: 16px;
	color: gray;
	border: 2px solid #f0f0f0;
	margin-bottom: 32px;
	text-indent: 46px;
}

#middle form input[name="username"]{
	background: white url(img/u_ico.jpg) no-repeat 14px 14px;
}

#middle form input[name="pwd"]{
	background: white url(img/p_ico.jpg) no-repeat 14px 14px;
}

#middle form input[type="submit"]{
	text-indent: 0px;
	text-align: center;
	background-color: red;
	color: white;
	font-size: 20px;
	width: 385px;
	height: 52px;
	
}

#error{
	text-align: center;
	color: red;
	font-size: 16px;
	margin-bottom: 9px;
}



#footer{
	/* background-color: green; */
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#footer p{
	text-align: center;
	font-size: 14px;
	color: #999;
	line-height: 34px;/* 行的高度 */
	margin-top: 14px;
	margin-bottom: 14px;
}